body {
    background-color: grey;
}
.interiorAbs {
    position: absolute;
}
#me {
    width: 100px;
    height: 100px;
    text-align: center;
}
.handle {
    width: 75px;
    height: 20px;
    background-color: black;
    color: white;
}
.hasborder {
    border: 1px dotted black;
}