@import url("http://fonts.googleapis.com/css?family=Architects+Daughter");

.comic {
    position: relative;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
    line-height: 16px;
    .overlay {
        position: absolute;
        .panel {
            position: absolute;
            //border: 1px solid orange;
            .bubble {
                position: absolute;
                //border: 1px solid red;
                .line {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
    .narrator {
        opacity: 0;
    }
}